params {
    samplesheet = "samples.tsv"

    db_mammalian    = "DBDIR_VERTEBRATE_MAMMALIAN"
    db_other        = "DBDIR_VERTEBRATE_OTHER"
    db_plant        = "DBDIR_PLANT"
    db_invertebrate = "DBDIR_INVERTEBRATE"
    db_microbe      = "DBDIR_MICROBE"
}

process {
    executor = 'local'

    withName:FASTP {
        cpus   = 2
        memory = '4 GB'
    }

    withName:KRAKENUNIQ {
        cpus   = 2
        memory = '4 GB'
    }
}

