params {

    samplesheet = "/home/nikolay-oskolkov/WABI/HPGG/aeMeta/samples.tsv"

    db_microbe = "/home/nikolay-oskolkov/WABI/HPGG/aeMeta/databases/DBDIR_MICROBE"
    db_mammalian = "/home/nikolay-oskolkov/WABI/HPGG/aeMeta/databases/DBDIR_VERTEBRATE_MAMMALIAN"
    db_other     = "/home/nikolay-oskolkov/WABI/HPGG/aeMeta/databases/DBDIR_VERTEBRATE_OTHER"
    db_plant     = "/home/nikolay-oskolkov/WABI/HPGG/aeMeta/databases/DBDIR_PLANT"
    db_invertebrate = "/home/nikolay-oskolkov/WABI/HPGG/aeMeta/databases/DBDIR_INVERTEBRATE"
}

process {
    executor = 'local'

    withName:FASTP {
        cpus   = 8
        memory = '20 GB'
    }

    withName:KRAKENUNIQ {
        cpus   = 16
        memory = '45 GB'
    }
}

